@import "tailwindcss";


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .btn {
    @apply rounded-lg shadow-lg p-6;
    @apply font-semibold;
    @apply transition duration-200 hover:cursor-pointer;
  }

  .btn-primary {
    @apply bg-indigo-800 text-white hover:bg-indigo-900;
  }

  .btn-primary:disabled {
    @apply bg-indigo-200 text-white hover:cursor-default;
  }

  .btn-secondary {
    @apply bg-indigo-400 text-white hover:bg-indigo-600;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}